.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.portfolio-item-individual p{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.portfolio-item-individual a{
    color: var(--clr-accent);
    text-decoration: none;
}
.portfolio-item-individual a:hover{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-decoration: underline;
}
