.my-services {
    background: var(--clr-dark);
    color: var(--clr-light);
    background-size: cover;
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.services {
    margin-bottom: 4em;
}

.my-services .btn {
    margin-top: 2rem;
}

.service {
    margin-bottom: 2rem;
}

@media (min-width: 800px){
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .service {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .service + .service {
        margin-left: 1rem;
    }
}
